* {
    font-family: Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-auto-rows: 340px;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

.table-number {
    text-align: center;
    margin: 5px;
}

.grid-item {
    position: relative;
    user-select: none;
    height: 100%;
    min-width: 180px;
    background: #f8cfad;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 20px, rgba(0, 0, 0, 0.5) 0 6px 6px;
}

.grid-item:hover {
    cursor: pointer;
}

.order-products {
    margin-left: 10px;
}

.order-item {
    margin-left: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: #e9b986;
    height: 77%;
    width: 98%;
    overflow: hidden;
    overflow-y: scroll;
}


.order-time {
    text-align: center;
    font-size: 11px;
    margin: -25px
}

::-webkit-scrollbar {
    display: none;
}

.claim-order-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bottom-bar {
    bottom: 0;
    position: absolute;
    background-color: #e3a768;
    width: 100%;
    height: 7%;
    box-shadow: inset 0 0 20px 10px rgb(159, 118, 73);
}

.order-time-paragraph {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.order-date-paragraph {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}

.buttons-navbar {
    border: none;
    margin: 5px;
}

/*PERSONAL ORDER SCHERM CSS*/
.order-done-button {
    position: absolute;
    bottom: 1%;
    right: 1%;
    height: 34px;
    width: 34px;
    background: none;
    cursor: pointer;
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
}

