.createStaffLink {
    position: absolute;
    bottom: 2%;
    left: 40%;
}

.memberNameSpan {
    margin-right: auto;
}

.memberRightsSpan {
    margin-left: auto;
}

.close-memberpop {
    position: absolute;
    right: 2%;
}

.update-btn {
    float: left;
    margin-left: 100px;
    width: 150px;
}

.delete-btn {
    float: right;
    margin-right: 100px;
    width: 150px;
}

.member-text {
    float: left;
}

.member-data {
    margin-right: 15%;
}

.member-password {
    margin-right: 22%;
}

.error-message {
    visibility: hidden;
}

h1{
    justify-content: center;
}

.filter-div{
    width: 14%;
    float: left;
    margin-left: 0.5%;
}

.wrapper{
    position: absolute;
    width: 100%;
    display: block;
}

.create-staff-button{
    right: 50%;
    position: absolute;
}