.button {
    align-items: center;
    background-clip: padding-box;
    background-color: #e3a768;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:hover,
.button:focus {
    background-color: #e38d33;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:active {
    background-color: #e38d33;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

h1 {
    border-bottom: 1px solid #e3a768;
    padding-bottom: 1%;
    text-align: center;
    user-select: none
}

.logout-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.login-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

.submit-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
}