.navigation-buttons-menu {
    display: flex;
    margin: 1%;
}
.navigation-buttons-menu.space-around {
    justify-content: space-around;
}

.model-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.home-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #61dafb;
}

.home-button-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
}



