#searchTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#searchTable td, #searchTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#searchTable tr:nth-child(even){background-color: #f2f2f2;}

#searchTable tr:hover {background-color: #ddd; cursor:pointer;}

#searchTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e38d33;
    color: white;
}

.createProductButton {
    align-items: center;
    background-clip: padding-box;
    background-color: #e38d33;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    height: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.logoutSelect {
    background-color: red !important;
    width: 100px !important;
}

.select-options{
    width: 15%;
}

.css-b62m3t-container{
    width: 15%;
}

.search-table{
    width: 100%;
    position: absolute;
}

.select-filters{
    width: 100%;
    position: absolute;
    margin-left: 5px;

}

.css-1s2u09g-control{
    margin-right: 5px;
}

.product-tables{
    width: 85%;
    position: absolute;
    right: 0;
}

.search-bar{
    margin: 5px;
    width: 14.75%;
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px;
    min-height: 38px;

}