.homeModule_bt_space {
    justify-content: space-evenly;
    margin: 15px;

}

.administration-grid {
    width: 35%;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    text-align: center;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

