.homeModule_bt_space {
    justify-content: space-evenly;
    margin: 15px;

}

.container2 {
    margin: 0 auto;
    width: 490px;
    height: 100px;
    display: block;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    text-align: center;
}